@font-face {
    font-family: 'Vazirmatn-Black';
    src: url('/static/fonts/Vazirmatn-Black.ttf') format('truetype');
    font-weight: small;
    font-style: normal;
}

body {
    background-color: #fff;
    font-family: 'Vazirmatn-Black';
}

.default-color {
    color: #858a91;
}

.orange-color {
    color: #000000 !important;
}

.fixed-bottom-options {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f8f9fa;
    padding: 5px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    position: relative;
    bottom: 0;
    width: 100%;
}

a{
    text-decoration: none;
}
li{
list-style: none;
}


/* MOBILE BUTTOM  */


.fixed-bottom-options {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f8f9fa;
    padding: 3px;
}

/* NAVBAR TEXT  */

.bg-effect {
            background: linear-gradient(90deg, #ff8c00, #e52e71);
}


.navbar {
    height: 60px;
    background-color: #21006d;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#navbar-title {
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: opacity 2s;
}

/* station form */
.styled-input {
    width: 300px;
    padding: 10px;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 95%;
    margin-bottom: 15px;

  }

  .styled-input:focus {
    border-color: #6c63ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
  }

  .styled-input::placeholder {
    color: #bbb;
  }

  .hidden {
    display: none;
  }

  .basehide, .GazShow, .GazoiilShow, .allShow {
    display: none;
  }

  .section-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-align: center;
  }

/* station list */

.card-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.card-body {
    padding: 1.25rem;
}

.btn-custom {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
}
.btn-outline-danger.active {
    background-color: #dc3545;
    color: white;
  }
  
  .btn-outline-warning.active {
    background-color: #ffc107;
    color: black;
  }
  
  .btn-outline-secondary.active {
    background-color: #6c757d;
    color: white;
  }

  .form-control {
    border: 2px solid #ccc;
    border-radius: 4px;
}
/* */