{% extends "base.html" %}
{% block body %}



    <h1>گزارش ایستگاه</h1>
    <h2>نام ایستگاه: {{ station.name }}</h2>
    
    <h3>مجموع بنزین</h3>
    <p>{{ gasoline_total }}</p>
    
    <h3>مجموع گاز</h3>
    <p>{{ gas_total }}</p>

    <h3>حذف کامل محصول از ایستگاه (بنزین)</h3>
    <p>{{ gasoline_entire_product_removed }}</p>
    
    <h2>نازل‌های بنزین</h2>
    <table>
        <thead>
            <tr>
                <th>شماره نازل</th>
                <th>شروع توتالایزر</th>
                <th>پایان توتالایزر</th>
            </tr>
        </thead>
        <tbody>
            {% for nozzle in station.gasoline_nozzles_details.all %}
            <tr>
                <td>{{ nozzle.nozzle_number }}</td>
                <td>{{ nozzle.totalizer_start }}</td>
                <td>{{ nozzle.totalizer_end }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <h2>نازل‌های گاز</h2>
    <table>
        <thead>
            <tr>
                <th>شماره نازل</th>
                <th>شروع توتالایزر</th>
                <th>پایان توتالایزر</th>
            </tr>
        </thead>
        <tbody>
            {% for nozzle in station.gas_nozzles_details.all %}
            <tr>
                <td>{{ nozzle.nozzle_number }}</td>
                <td>{{ nozzle.totalizer_start }}</td>
                <td>{{ nozzle.totalizer_end }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>مخازن بنزین</h2>
    <table>
        <thead>
            <tr>
                <th>شماره مخزن</th>
                <th>موجودی نهایی</th>
            </tr>
        </thead>
        <tbody>
            {% for tank in station.gasoline_tanks.all %}
            <tr>
                <td>{{ tank.tank_number }}</td>
                <td>{{ tank.final_stock }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>مخازن گاز</h2>
    <table>
        <thead>
            <tr>
                <th>شماره مخزن</th>
                <th>موجودی نهایی</th>
            </tr>
        </thead>
        <tbody>
            {% for tank in station.gas_tanks.all %}
            <tr>
                <td>{{ tank.tank_number }}</td>
                <td>{{ tank.final_stock }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
