{% extends "base.html" %}
{% block body %}

<body>
    <h1>Create New Fuel Station</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        
        <h2>Gasoline Nozzles</h2>
        <div id="gasoline_nozzle_formset">
            <!-- Forms for Gasoline Nozzles will be added here dynamically -->
        </div>
        
        <h2>Gas Nozzles</h2>
        <div id="gas_nozzle_formset">
            <!-- Forms for Gas Nozzles will be added here dynamically -->
        </div>
        
        <h2>Gasoline Tanks</h2>
        <div id="gasoline_tank_formset">
            <!-- Forms for Gasoline Tanks will be added here dynamically -->
        </div>
        
        <h2>Gas Tanks</h2>
        <div id="gas_tank_formset">
            <!-- Forms for Gas Tanks will be added here dynamically -->
        </div>
        
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'station_list' %}">Back to List</a>
{% endblock %}