
{% extends "base.html" %}
{% block body %}

<div class=" mt-5" style="z-index: auto;">

    
    <div class=" d-flex justify-content-between mx-1">
        
        <div>
            <a href="{% url 'create_station' %}">
            <button class="btn btn btn-success ">
               ایجاد فایل جدید
            </button>
             </a>
       </div>
       
        <div class="btn "> فایل های پی دی اف</div>
    </div>
    
    <div class="text-center mt-1 w-100">
        {% for station in stations %}
        <div class=" my-1 bg-white py-3 border-bottom border-top w-100 text-center">
            <a href="{% url 'station_detail' station.id %}">{{ station.name }}</a> - 
            <a href="{% url 'generate_pdf' station.id %}">Generate PDF</a>
        </div>
        {% endfor %}
    </div>
</div>
    
    {% endblock %}
